
NODE_ENV=development
PORT=5050

CORS_ORIGIN=http://localhost:5173


MONGODB_URI=

JWT_SECRET=change_me_super_secret_dev_key
JWT_EXPIRE=7d
COOKIE_SECRET=change_me_cookie_secret

SEED_ON_START=true

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=VendorBridge <no-reply@vendorbridge.com>

INVOICE_TAX_RATE=0.18
INVOICE_DUE_DAYS=30
